@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-soft {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

// Remove Clerk Branding
.cl-userButtonPopoverFooter {
    height: 0px !important;
    opacity: 0 !important;
    padding: 0 !important;
    pointer-events: none !important;
    position: absolute !important;
}

.cl-card > div:last-of-type {
    opacity: 0 !important;
    pointer-events: none !important;
    position: absolute !important;
}
